.html {
background-color: pink;
}

.jumbotron {
    margin-top: 20px;
    background-image: url('https://www.pexels.com/photo/low-angle-photography-of-four-women-in-assorted-color-long-sleeved-turtle-neck-dresses-1034361/');
   
}

